<div *ngIf="!isCartEmpty()">
    <h3>Your Cart</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Ticket Quantity</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartItem of getCartItems(); let i = index">
                <td>
                    <table class="table table-borderless table-sm">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>{{cartItem.movie.title}}</td>
                            </tr>
                            <tr>
                                <td><small>Showtime: {{cartItem.showtime}}</small></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>{{cartItem.numTickets}}</td>
                <td>${{cartItem.subTotal.toFixed(2)}}</td>
                <td><a (click)="removeCartItem(cartItem)" class='btn btn-danger'>Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <div class="p-2">Total</div>
        <div class="p-2">${{getCartTotal().toFixed(2)}}</div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="p-2">
            <input value="Checkout" routerLink="checkout" class="btn btn-primary" >
        </div>
    </div>
</div>
<div *ngIf="isCartEmpty()">
    <div class="text-center">
        <h3>Your cart is empty!</h3>
    </div>
</div>